<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="src/public/images/heros/sendok-garpu2.png">
  <title>AMH Resto Apps</title>
</head>
<body>
  <a href="#content" class="skip-link">Skip to content ?</a>

  <!-- Mobile Navbar -->
  <div class="mobile-menu">
    <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
    <div class="mobile-logo">AMH Resto Apps</div>
    <div class="mobile-logo">&nbsp;</div>
  </div>
  <nav id="drawer" class="navmob">
    <ul class="nav-list-mobile">
      <li class="nav-items-mobile"><a target="_blank" href="index.html">Home</a></li>
      <li class="nav-items-mobile"><a href="#">Favorite</a></li>
      <li class="nav-items-mobile"><a target="_blank" href="https://github.com/Hadiwasito1905">About Us</a></li>
    </ul>
  </nav>

  <!-- Desktop Navbar -->
  <nav class="nav">
    <a class="logo" href="">AMH Resto Apps</a>
    <ul class="navlist">
      <li class="navitems"><a target="_blank" href="index.html">Home</a></li>
      <li class="navitems"><a href="#">Favorite</a></li>
      <li class="navitems"><a target="_blank" href="https://github.com/Hadiwasito1905">About Us</a></li>
    </ul>
  </nav>

<!-- Jumbotron -->
  <div class="jumbotron">
    <div class="jumbo-container">
      <h1 class="jumbo-title">Angkringan Mbah Hadi Resto Apps</h1>
      <p class="jumbo-subs">Find your best restaurants with us.</p>
    </div>
  </div>

<!-- Content -->
  <main id="content">
    <section class="content">
      <div class="latest">
        <h1>Explore Restaurant</h1>
        <div class="list" id="load-content"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2023 - AMH Resto Apps</p>
  </footer>

</body>
</html>
